// $white: #FFFFFF;
// $silver: #AFAFAF;
// $black: #323232;
// $dark-black: #000000;
// $mercury: #e1e1e1;
// $alabaster: #fafafa;
$primary-text-light: #FFFFFF; 
$secondary-text-color: #AFAFAF;
$primary-text-dark: #323232;
$cta-hover: #000000;
$divider-line: #e1e1e1; 
$alt-light-bg: #fafafa; 
