@use './partials/colors';
@use './partials/fonts';
@use './partials/breakpoints';
@use './partials/navbar';
@use './partials/hero';
@use './partials/about';
@use './partials/gallery';
@use './partials/footer';
* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
