@import './partials/colors';
@import './partials/fonts';
@import './partials/breakpoints';
@import './partials/navbar';
@import './partials/hero-shows';
@import './partials/footer';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: normal;
}